.AlarmList {
    position: absolute;
    height: 100%;
    width: 250px;
    left: 0;
    background-color: rgba(238, 237, 237, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.addButton {
    position: absolute;
    box-sizing: border-box;
    bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 0;
    font-size: 20px;
}


/* alarm item */
.AlarmItem {
    position: relative;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
}

.AlarmItem input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.DeleteSvgButton {
    position: relative;
    width: 50px;
    height: 50px;
    /* cursor: pointer; */
}

.alarmSlider {
    position: relative;
    cursor: pointer;
    width: 100%;
    padding: 8px 0;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom: black solid 1px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .alarmSlider {
    width: 80%;
}


.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

