.clockList {
    position: absolute;
    height: 100%;
    width: fit-content;
    left: 0;
    background-color: rgba(238, 237, 237, 0.3);

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}